@charset "utf-8";
/*cssリセット*/
/*利用するタグによってこちらの内容は増やす*/

body,
h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4c4c4c;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif,
        "ヒラノギ角ゴシック";
}

header {
    height: 50px;
    margin-top: 20px;
    background-color: #4444;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    height: 50px;
}

.header p {
    float: left;
    margin: 15px;
    margin-left: 140px;
    font-size: 24px;
    vertical-align: middle;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}
.nav-list li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    margin-top: 18px;
    padding: 4px 20px;
    font-size: 10px;
}
li + li {
    border-left: 1px solid #4c4c4c;
}
